@import 'stylesheets/colors';
@import 'stylesheets/TwitterFeed';
@import 'stylesheets/Tweet';


.tweet {
  border: 2px solid black;
  margin: 5px;
}

.image {
  float: left;
  // width:200px;
  //   height:20px;
}

.fa.fa-heart.icon-cog {
  color: red;
}

.fa.fa-retweet.icon-cog {
  color: green;
}
